body {
    background-image: url(http://images.freeimages.com/images/large-previews/7e6/lemon-pie-1057488.jpg); 
}

p {
    font-family: "Century Gothic", Futura, Verdana, sans-serif;
    font-size: 32pt;
    position: absolute;
    left: 400px;
    top: 200px;
}